body{background-image: url("css.jpg");}

h2{margin-left: 20px;text-shadow: 9px 9px 9px #ff0000;text-align: center;}

		.email
	    {
    		width: 30%;
	    	padding: 12px 20px;
	    	margin: 8px 0;
	    	display: inline-block;
	    	border: 1px solid #777;
	    	border-radius: 4px;
	    	box-sizing: border-box;
	    	margin-left:200px ! important;
	    	font-family: sans-serif;
	    	font-style: comic;

	    	

}
		.email2
		{
			color: red;
			width: 30%
			background-color:#800000;
			padding:12px 20px
			color : transparent;
			margin-left:8px ! important;
			border:none;
			border-radius: 5px;
			cursor: pointer;
			font-family: sans-serif;

		}	
			
			.button {
				padding:10px 10px;
				font-size: 10px;
				text-align: center;
				cursor: pointer;
				outline: none;
				color: #fff;
				background-color: #0000ff;
				border: none;
				border-radius: 20px;
				box-shadow: 0 5px #999;
				float-right: 1000px;
			}
			.button:hover{
				background-color: #ff0000;
			}
			.button:active{
				background-color:#800000;
				box-shadow: 0 0px #666;
				transform: translateY(3px);
		div{
			border-radius: 10px;
			background-color:#f2f2f2;
			padding: 22px;
		}

