body{background-image: url(Santorini.jpg);size: 75%;}
h1{color: red;margin-left: 20px;text-shadow: 0 0 3px #FF0000;
}
div{
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	padding-top: 50px;
	font-family: times;
}
.colr ul{
		list-style-type:none;
    	margin: 0;
    	padding: 0;
    	width: 1px;
    	background-color: #f1f1f1;
    	border: 1px solid #555;
		}
.colr li{
		display:table-caption;
	  	text-align: left;
	    border-bottom:  1px solid #555;
	  	background-color: #cccccc;
	  	color: #fd205e;
	 	margin: 0px 0px 0px 0px;
	 	padding: 5px 16px;
	 	text-decoration: none;
 		}
.colr li:hover:not(.active){
    background-color: #FF0000;
    color: red;
	}


